<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost/music</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <!-- Local Deployment -->
        <property name="connection.password">301Npinckney</property>
        <!--AWS Deployment-->
        <!--
        <property name="connection.password">uBUs4XoxU9UsEw</property>
        -->

        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <mapping class="edu.matc.entity.User"/>
        <mapping class="edu.matc.entity.Artist"/>
        <mapping class="edu.matc.entity.ArtistEngagement"/>
        <mapping class="edu.matc.entity.Country"/>
        <mapping class="edu.matc.entity.Region"/>
        <mapping class="edu.matc.entity.City"/>


    </session-factory>
</hibernate-configuration>
